@import url('reset.css');

/* mobile */

.container{
    max-width: 375px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header start */

.header{
    margin-bottom: 40px;
}

.wrapper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* section hero start */

.hero{
    padding-bottom: 40px;
}

.title-main{
    font-size: 64px;
    font-weight: 700;
    line-height: 1; 
    letter-spacing: 0.64px;
    margin-bottom: 10px;
}

.title-main-second{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
}

.p-text-main{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
}

.main-text-span{
    font-weight: 800;
    text-transform: uppercase;
}

.main-consultation-btn{
    padding: 13px 32px;
    background-color: #eed135;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.36px;
    border: 0;
    border-radius: 40px;
    margin-bottom: 60px;
}

.wrapper-social-icon{
    display: flex;
    gap: 32px;
    justify-content: center;
}

/* section hero end */

/* start section about us */

.title-for-all-section{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.p-text-about-us{
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 0.42px;
    margin-bottom: 50px;
}

.span-text-about-us{
    font-weight: 800;
}

.img-about-us-team{
    border-radius: 40px;
}

.wrapper-our-plus{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 15px;
}

.li-our-plus{
    background-color: #eed135;
    padding: 27px 30px;
    display: flex;
    gap: 15px;
    border-radius: 30px;
}

/* end section about us */

/* start section buy */

.title-moments-buy{
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.wrapper-moments-buy{
    display: flex;
    flex-direction: column;
}

.li-moments-buy{
    padding: 30px 0;
    border-bottom: 1px dashed;
}

.article-moments-buy{
    display: flex;
    gap: 20px;
}

.title-numbers{
    font-size: 18px;
    padding: 11px 15px;
    background-color: #eed135;
    border-radius: 15px;
    max-height: 50px;
}

.p-text-moments-buy{
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.42px; 
}

/* end section buy */
